
<h1>Galaxy Map</h1>
<img src="./assets/galaxymap.jpg" Alt="Dit zou een sterrenkaart moeten zijn" height=400>

<h1>Bereken kortste route</h1>
<p>Vul de planeet in waar je wilt starten en de planeet waar je naar toe wilt.</p>
    Start:
<input type="text" id="start" value="A"/> Eind:
<input type="text" id="eind" value="F"/>
<button onClick="shortestPath()">Plan Route</button>

<div id="resultaat">
    <p>Hier komt het resultaat</p>
</div>


<script>
    function shortestPath() {
        var start = document.getElementById("start").value;
        var eind = document.getElementById("eind").value;
        //var url = "/GetPath";
        var url = "https://spacetruckers2.azurewebsites.net/GetPath?from=" + start + "&to=" + eind;
        console.log(url);
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var div = document.getElementById("resultaat");
                div.innerHTML = "<p>" + xhr.responseText + "</p>";
            }
        }
        xhr.open("GET", url, true);
        xhr.send();
    }
</script>
